* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(209, 226, 209), rgb(126, 177, 126));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .header {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        margin-top: 50px;
        font-size: 3.9em;
        font-weight: bold;
        @media screen and (min-width: 768px) {
            margin-top: 5px;
            font-size: 4em;   
            padding-right: 10px;       
        }
    }
    
    .inputContainer {
        margin-top: 30px;
        @media screen and (min-width: 1024px) {
            margin-top: 30px;
        }

        form {
            width: 230px;
            display: flex;
            justify-content: space-between;
            @media screen and (min-width: 768px) {
                width: 270px;
            }
            @media screen and (min-width: 1024px) {
                width: 290px;
            }

            input {
                width: 200px;
                font-size: 1em;
                border: none;
                border-radius: 5px;
                padding: 6px;
                box-shadow: 0 0 5px rgba(98, 98, 98, 0.486);
                @media screen and (min-width: 768px) {
                    width: 240px;
                    font-size: 1.1em;
                    padding: 8px;
                }
                @media screen and (min-width: 1024px) {
                    width: 260px;
                }
            }
            
            button {
                font-size: 1.3em;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: lightgrey;
                }
            }
        }
    }

    .todoContainer {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .todoList {
            list-style: none;
            background-color: rgba(51, 51, 51, 0.445);
            box-shadow: 0 0 10px rgb(54, 54, 54);
            padding: 15px 15px;
            width: 70%;
            @media screen and (min-width: 768px) {
                width: 50%;
                padding: 15px 35px;
            }
            @media screen and (min-width: 1024px) {
                width: 40%;
            }

            form {
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    color: rgb(240, 240, 240);
                    background-color: transparent;
                    font-size: 1em;
                    border: none;
                    border-radius: 5px;
                    @media screen and (min-width: 786px) {
                        font-size: 1.3em;
                    }
                }
                
                button {
                    color: rgb(240, 240, 240);
                    font-size: 1em;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                        color: lightgrey;
                    }
                }
            }
        }
    }

    .signoutContainer {
        margin-top: 25px;

        a {
            color: black;
            background-color: rgba(255, 255, 255, 0.246);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            border-radius: 10px;
            padding: 5px 10px;

            &:hover {
                color: white;
                background-color: rgb(54, 54, 54);
            }
        }
    }
}