* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(209, 226, 209), rgb(79, 117, 79));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .header {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        margin-top: 50px;
        font-size: 3.9em;
        font-weight: bold;
        @media screen and (min-width: 768px) {
            margin-top: 5px;
            font-size: 4em;   
            padding-right: 10px;     
        }
    }

    .loginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(51, 51, 51, 0.445);
        box-shadow: 0 0 10px rgb(54, 54, 54);
        width: 70%;
        margin-top: 50px;
        padding: 30px 0;
        font-size: 1.4em;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        @media screen and (min-width: 1200px) {
            width: 40%;
        }

        .error {
            background-color: rgb(235, 168, 168);
            color: black;
            font-size: 0.8rem;
            margin-top: 20px;
            padding: 5px 10px;
            border-radius: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 5px;

            input {
                width: 80%;
                margin: 5px 0;
                padding: 7px 5px;
                border: none;
                border-radius: 5px;
                background-color: rgb(240, 240, 240);
            }

            button {
                margin: 15px 0 25px 0;
                background-color: rgb(240, 240, 240);
                border: none;
                border-radius: 5px;
                font-size: 1em;
                padding: 2px 10px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(82, 82, 82, 0.445);
                }
            }
        }
    }

    .registerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        a {
            color: rgb(58, 58, 58);
            font-size: 1em;
            text-decoration: none;

            &:hover {
                color: rgb(240, 240, 240);
            }
        }
    }
}