* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #d1e2d1, #4f754f);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  html .header, body .header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 3.9em;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      html .header, body .header {
        margin-top: 5px;
        font-size: 4em;
        padding-right: 10px; } }
  html .checkEmailContainer, body .checkEmailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.445);
    box-shadow: 0 0 10px #363636;
    width: 70%;
    margin-top: 50px;
    padding: 30px 0;
    font-size: 1.4em;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      html .checkEmailContainer, body .checkEmailContainer {
        width: 50%; } }
    @media screen and (min-width: 1200px) {
      html .checkEmailContainer, body .checkEmailContainer {
        width: 40%; } }
    html .checkEmailContainer .resendEmailContainer, body .checkEmailContainer .resendEmailContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      text-transform: none;
      font-size: 0.8em;
      font-weight: bold; }
      html .checkEmailContainer .resendEmailContainer a, body .checkEmailContainer .resendEmailContainer a {
        margin-top: 5px;
        font-size: 0.75em;
        text-decoration: none;
        color: white;
        font-weight: normal; }
        html .checkEmailContainer .resendEmailContainer a:hover, body .checkEmailContainer .resendEmailContainer a:hover {
          color: black; }
