* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #d1e2d1, #4f754f);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  html .header, body .header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 3.9em;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      html .header, body .header {
        margin-top: 5px;
        font-size: 4em;
        padding-right: 10px; } }
  html .resetContainer, body .resetContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.445);
    box-shadow: 0 0 10px #363636;
    width: 70%;
    margin-top: 50px;
    padding: 30px 0;
    font-size: 1.4em;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      html .resetContainer, body .resetContainer {
        width: 50%; } }
    @media screen and (min-width: 1200px) {
      html .resetContainer, body .resetContainer {
        width: 40%; } }
    html .resetContainer .error, body .resetContainer .error {
      background-color: #eba8a8;
      color: black;
      font-size: 0.8rem;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 10px; }
    html .resetContainer form, body .resetContainer form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 5px; }
      html .resetContainer form input, body .resetContainer form input {
        width: 80%;
        margin: 5px 0;
        padding: 7px 5px;
        border: none;
        border-radius: 5px;
        background-color: #f0f0f0; }
      html .resetContainer form button, body .resetContainer form button {
        margin: 15px 0 5px 0;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        font-size: 0.8em;
        padding: 2px 10px;
        cursor: pointer; }
        html .resetContainer form button:hover, body .resetContainer form button:hover {
          background-color: rgba(82, 82, 82, 0.445); }
