* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #d1e2d1, #4f754f);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  html .header, body .header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 3.9em;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      html .header, body .header {
        margin-top: 5px;
        font-size: 4em;
        padding-right: 10px; } }
  html .welcomeContainer, body .welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.445);
    box-shadow: 0 0 10px #363636;
    width: 70%;
    margin-top: 50px;
    padding: 30px 0;
    font-size: 1.4em;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      html .welcomeContainer, body .welcomeContainer {
        width: 50%; } }
    @media screen and (min-width: 1200px) {
      html .welcomeContainer, body .welcomeContainer {
        width: 40%; } }
    html .welcomeContainer p, body .welcomeContainer p {
      margin: 5px 15px 0 15px;
      text-align: center;
      font-size: 1.1rem;
      text-transform: none; }
    html .welcomeContainer .choiceContainer, body .welcomeContainer .choiceContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 10px 0 10px;
      text-align: center;
      font-size: 1.05rem;
      font-weight: bold; }
      html .welcomeContainer .choiceContainer .links, body .welcomeContainer .choiceContainer .links {
        font-weight: normal;
        margin-top: 5px; }
        html .welcomeContainer .choiceContainer .links a, body .welcomeContainer .choiceContainer .links a {
          margin-top: 10px;
          text-decoration: none;
          font-size: 1rem;
          color: white; }
          html .welcomeContainer .choiceContainer .links a:hover, body .welcomeContainer .choiceContainer .links a:hover {
            color: #363636; }
